# Rust
libstarwars/target/
libstarwars/build/
libstarwars/Cargo.lock
**/*.rs.bk

# Swift / Xcode
# Xcode
iOS/StarWarsApp.xcodeproj/project.xcworkspace/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
DerivedData/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# RustRover
libstarwars/.idea/
iOS/StarWarsLibrary/StarWars.xcframework

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS noise
.DS_Store
*.swp